:root {
  --text: #050315;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --primary-50: #2f27ce80;
  --secondary: #dedcff;
  --secondary-50: #dedcff80;
  --secondary-25: #dedcff40;
  --accent: #433bff;
  --accent-50: #433bff80;
}
