html,
body {
  height: 100%;
  margin: 0;
}

body {
  width: 92vw;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centers vertically */
  flex-direction: row;
  flex-grow: 1; /* Allow to take up the remaining space in viewport */
  gap: 2vw;
}

p {
  max-width: 38rem;
  line-height: 1.5;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
    flex-grow: 0;
    text-align: center;
  }

  p {
    margin: 0 auto;
    padding-bottom: 2vh;
  }

  .picture {
    width: 45vh;
  }
}
