@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --text: black;
  --background: white;
  --primary-soft: hsl(55, 87%, 80%);
  --primary: hsl(55, 87%, 50%);
  --primary-hard: hsl(55, 87%, 40%);
  --primary-hardest: hsl(55, 87%, 30%);

  --space-2xs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-h: 96px;
  --space-xh: 128px;
  --space-2xh: 192px;
  --space-3xh: 256px;

  --font-m: 100%;
  --font-l: 18px;
  --font-xl: 20px;
  --font-2xl: 24px;
  --font-3xl: 30px;
  --font-h: 36px;
  --font-xh: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter";
  font-weight: 400;
  font-size: 100%;
  background-color: var(--background);
  color: var(--text);
}

body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  max-width: 1080px;
  padding: 0 40px;
  margin: var(--space-h) auto;
  position: relative;
}

aside {
  grid-column: 1 / 4;
  align-self: flex-start;
  position: sticky;
  top: var(--space-h);
  display: flex;
  flex-direction: column;
}

main {
  grid-column: 5 / -1;
}

article {
  grid-column: 5 / -2;
  margin-bottom: 64px;
}

section {
  margin-bottom: var(--space-h);
}

p {
  line-height: 1.5;
  margin-bottom: 18px;
}

ul {
  padding-left: 32px;
  line-height: 1.5;
  margin-bottom: 18px;
}

li {
  margin-bottom: 8px;
}

h1 {
  font-size: var(--font-xh);
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: var(--font-h);
  line-height: 1;
  font-weight: 700;
  margin-bottom: var(--space-2xl);
}

h3 {
  font-size: var(--font-2xl);
  line-height: 1;
  font-weight: 700;
  margin-bottom: var(--space-m);
}

/* Classes */

#splash-image {
  width: 100%;
  height: auto;
  background-color: var(--primary-soft);
  border-radius: 50%;
  margin-bottom: var(--space-l);
}

#splash-name {
  font-weight: 400;

  span {
    font-weight: 700;
    color: var(--primary-hard);
  }
}

#splash-text {
  font-size: var(--font-l);
  margin-top: var(--space-m);
  border-top: 4px solid var(--primary-hard);
  padding-top: var(--space-m);
  margin-bottom: var(--space-xl);
  text-wrap: balance;
}

#splash-email {
  margin-bottom: var(--space-m);
}

#splash-social {
  display: flex;
  gap: var(--space-xl);
}

.work-entry-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: var(--space-2xl);

  h3 {
    display: inline;
  }

  span {
    color: var(--primary-hard);
    font-weight: 700;
  }
}

.button {
  color: inherit;
  text-decoration: inherit;
  padding: var(--space-s) var(--space-xl);
  display: flex;
  align-items: center;
  border-radius: var(--space-xs);
  text-wrap: nowrap;
}

.button--primary {
  background-color: var(--primary);
}

.button--secondary {
  background-color: var(--secondary);
}

.social {
  color: inherit;
  text-decoration: inherit;
  font-weight: 700;
  transition: color 100ms ease-in-out;
}

.social:hover {
  color: var(--primary-hard);
}

.note {
  color: var(--primary-hardest);
  font-style: italic;
}
