@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

body {
  margin: 0;
  padding: 0 5vw;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

header {
  position: fixed; /* Header should not move with the page */
  top: 0; /* Header to the top of the screen */
  left: 0; /* Header to the left of the screen */
  width: 100%; /* Header all across the screen */
  z-index: 1000; /* Header stays on top of other content */

  /* ^^^ This is the bare minimum to make it work ^^^ */

  padding: 1em 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  width: 100%; /* Header all across the screen */
  padding: 1em 0;
  margin-bottom: 1em;
}

nav {
  margin: 0 auto;
  padding: 0 5vw;
  display: flex;
  justify-content: space-evenly;
  max-width: 720px;
}

main {
  margin: 7em auto;
  text-align: justify;
  max-width: 900px;
}

.navlink {
  color: #333;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;
  user-select: none;
}

.navlink.active {
  color: #007bff;
}

.navlink.active {
  color: #007bff;
}

.navlink:hover {
  color: #007bff;
}

.navlink i {
  font-size: x-large;
  display: block;
  margin-bottom: 5px;
}

.navlink span {
  display: block;
  font-size: small;
}

figure {
  margin: 0;
  text-align: center;
}

.float-right {
  max-width: 50%;
  float: right;
  margin-left: 3vw;
}

.float-inline {
  max-width: 80%;
  margin: 2em auto;
}

img {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

figcaption {
  color: gray;
  font-style: italic;
}

dt {
  font-weight: bolder;
}

dd {
  margin-bottom: 1em;
}
