@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  max-width: 720px;
  margin: 0 auto;
  text-align: justify;
  padding: 30px;
}

h1,
h2 {
  text-align: left;
}

header,
footer {
  display: flex;
  font-size: larger;
  justify-content: space-around;
}

header {
  margin-bottom: 2em;
}

footer {
  margin-top: 5em;
}

header a,
footer a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

header a:hover,
footer a:hover {
  color: #007bff;
}

figure {
  text-align: center;
}

img {
  width: 100%;
}

figcaption {
  font-size: smaller;
  font-style: italic;
}

figure.right {
  float: right;
  margin: 0 0 1em 2em;
  max-width: 300px;
}

@media (width <= 400px) {
  figure.right {
    max-width: 100%;
    margin: 0 0 1em 0;
  }

  .nav-text {
    font-size: small;
  }

  h1 {
    font-size: x-large;
  }
  h2 {
    font-size: large;
  }
}

figure.inline {
  max-width: 100%;
  margin: 1em 0;
}

dt {
  font-weight: bolder;
}

dd {
  margin-bottom: 1em;
}
