html,
body {
  height: 100%;
  margin: 0;
}

body {
  width: 75vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centers vertically */
  flex-direction: row;
  flex-grow: 1; /* Allow to take up the remaining space in viewport */
  gap: 2vw;
}

h1 {
  max-width: 38rem;
}

p {
  max-width: 38rem;
  line-height: 1.5;
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
    flex-grow: 0;
  }

  .picture {
    max-width: 50vw;
  }
}
