html,
body {
  height: 100%;
  margin: 0;
}

body {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centers vertically */
  flex-grow: 1; /* Allow to take up the remaining space in viewport */
  gap: 2vw;
}

p {
  width: 38rem;
}
