---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header2.astro";
import News from "../components/News.astro";
import Presentation from "../components/Presentation.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Welcome to Astro.">
	<Header />
	<main class="max-w-screen-xl mx-auto flex flex-col gap-32">
		<Presentation />
		<News />
		<Contact />
	</main>
	<footer
		class="border-t-2 border-black bg-white py-4 text-sm text-gray-500 flex justify-center items-center"
	>
		Made with Astro by Edu Gambín
	</footer>
</Layout>
