---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header2.astro";
import News from "../components/News.astro";
import Presentation from "../components/Presentation.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Welcome to Astro.">
	<Header />
	<main class="max-w-screen-xl mx-auto flex flex-col gap-32">
		<Presentation />
		<News />
		<Contact />
	</main>
	<footer>
		<p class="text-center text-sm text-gray-500 mb-16">
			Made with ❤️ by
			<a href="https://edugambin.com" class="underline">Edu Gambín</a>
		</p>
	</footer>
</Layout>
