---
import IconCalendar from "../components/icons/calendar.astro";
import IconSquareArrow from "../components/icons/square-arrow.astro";

interface Props {
    title: string;
    date: string;
    url: string;
    color: string;
}

const { title, date, url, color } = Astro.props;
---

<article class=`flex flex-col p-8 border-2 border-black rounded-2xl ${color}`>
    <h3 class="text-xl font-bold overflow-ellipsis overflow-hidden text-nowrap">
        {title}
    </h3>
    <time class="text-sm font-light inline-flex items-center gap-1 mb-4">
        <IconCalendar />
        {date}
    </time>
    <p class="grow leading-tight mb-6">
        <slot />
    </p>
    <p>
        <a
            href={url}
            class="inline-flex gap-1 items-center font-bold hover:text-gray-400 transition"
        >
            Go to full article
            <IconSquareArrow />
        </a>
    </p>
</article>

<style is:global>
    .svg-inline--fa {
        overflow: visible;
        box-sizing: content-box;
        display: inline-block;
        width: 16px;
        height: auto;
        vertical-align: -0.125em;
    }
</style>
