---
import SunIcon from "../components/icons/sun.astro";
---

<header
  class="sticky top-0 left-0 p-4 mb-24 border-b-2 border-current bg-white"
>
  <div class="max-w-screen-xl mx-auto flex justify-between items-center">
    <nav>
      <ul class="text-xl font-bold flex gap-8">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <button> <SunIcon /> </button>
  </div>
</header>

<style>
  a {
    @apply hover:text-gray-400 transition;
  }
</style>
