---
import IconInbox from "../components/icons/inbox.astro";
---

<section>
  <div class="flex justify-between items-center">
    <article class="text-xl">
      <h1 class="text-7xl font-semibold mb-8 tracking-tight">
        <span class="block">Eduardo</span> Gambín Monserrat
      </h1>
      <p class="max-w-prose mb-2">
        Graduate in the Double Bachelor's Degree in Mathematics and Computer
        Science from the University of Murcia, Spain, specialized in AI.
      </p>
      <p class="max-w-prose mb-8">
        Currently working as a C++ Software Developer, but searching for new
        challenges.
      </p>
      <div class="flex gap-4">
        <!-- <a
          href="#"
          class="text-lg font-bold border-2 px-6 py-4 rounded-xl border-black bg-orange-200 hover:bg-orange-400 transition
          inline-flex items-center gap-1"
        >
          Get in contact
          <IconAt />
        </a> -->
        <a
          href="#"
          class="text-lg font-bold border-2 px-6 py-4 rounded-xl border-black bg-lime-300 hover:bg-lime-500 transition
          inline-flex items-center gap-1"
        >
          Download CV
          <IconInbox />
        </a>
      </div>
    </article>
    <img src="/me.jpg" class="w-96 rounded-2xl border-2 border-black" />
  </div>
</section>
