/* Define the keyframes for the fade-in animation */
@keyframes moveIn {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
