nav {
  display: flex;
  gap: 2vw;

  a {
    color: black;
    text-decoration: none;

    transition: color 200ms;

    .fa {
      display: none;
    }

    span {
      display: initial;
    }
  }

  a:hover {
    color: var(--primary-50);
  }
}

@media (orientation: portrait) {
  nav {
    gap: 6vw;

    a {
      .fa {
        display: initial;
      }
      span {
        display: none;
      }
    }
  }
}

.active {
  color: var(--primary);
  font-weight: 700;
}
