/* Define the keyframes for the fade-in animation */
@keyframes moveIn {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.picture {
  border-radius: 2vw;
  width: 33vw;
  height: auto; /* Maintain aspect ratio */

  opacity: 0; /* Initial opacity set to 0 */
  transform: translateY(10px); /* Initial opacity set to 0 */
  animation:
    fadeIn 500ms ease-out 1s forwards,
    moveIn 500ms ease 1s forwards;
}
