@import url("animation.css");

.picture {
  border-radius: 2vw;
  max-width: 30vw;
  height: auto; /* Maintain aspect ratio */

  opacity: 0; /* Initial opacity set to 0 */
  transform: translateY(10px); /* Initial opacity set to 0 */
  animation:
    fadeIn 500ms ease-out 1s forwards,
    moveIn 500ms ease 1s forwards;
}
