---
import "@fontsource-variable/public-sans";
import "@fontsource-variable/roboto-slab";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Edu Gambín's website</title>
	</head>
	<body>
		<p class="lg:hidden font-bold text-center text-2xl">
			Non-full-screen view is still under development. Sorry!
			<br />
			Make sure to go full-screen to enjoy the website.
		</p>
		<div class="hidden lg:block">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}
	html {
		font-family: "Public Sans Variable", sans-serif;
		@apply bg-white;
	}
	body {
		@apply bg-stone-100 text-black min-h-screen;
	}
	h1 {
		font-family: "Roboto Slab Variable", serif;
	}
	h2 {
		font-family: "Roboto Slab Variable", serif;
		@apply text-6xl mb-8 font-medium tracking-tight;
	}
</style>
