---
import "@fontsource-variable/public-sans";
import "@fontsource-variable/roboto-slab";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Edu Gambín's website</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-text-size-adjust: 100%;
	}
	html {
		font-family: "Public Sans Variable", sans-serif;
		@apply bg-white;
	}
	body {
		@apply bg-stone-100 text-black min-h-screen;
	}
	h1 {
		font-family: "Roboto Slab Variable", serif;
	}
	h2 {
		font-family: "Roboto Slab Variable", serif;
		@apply text-3xl md:text-6xl text-center md:text-start mb-8 font-medium tracking-tight;
	}
</style>
